<ul>
	{{#each items}}
	<li>{{description}}</li>
	<li>Urgent? {{urgent}} </li>
	<input type="button" name="edit" value="edit"> <!-- don't we have to attach an id for edit and delete -->
	<input type="button" name="delete" value="delete"> 
	<br>
	{{/each}}
</ul>

<a class = "btn btn-default" href="/to_donts/new">Add a new to-don't</a>
