<form action = "/to_donts" method="POST"></form>
	<div>
		<label for="description">Description:</label>
		<input type="text" name="description">
	</div>
	<div>
		<label for="urgent">Urgent:</label>
		<span>yes</span><input type="radio" name="urgent" value = "true" checked>
		<span>no</span><input type="radio" name="urgent" value="false">
	</div>
	<div>
		<<input type="submit" value="Finished?">
	</div>

