<form action = "/todonts" method="POST">
	<div>
		<label for="description">Description:</label>
		<input type="text" name="description">
	</div>
	<div>
		<label for="urgent">Urgent:</label>
		<span>yes</span><input type="radio" name="urgent" value = "true" checked>
		<span>no</span><input type="radio" name="urgent" value="false">
	</div>
	<div>
		<<input class="btn btn-default" type="submit" value="Finished?">
	</div>
</form>

	