  <!--  Sample data item {
	  name: 'Anne Bonny',
	  birthplace: 'Kinsale, Ireland',
	  death_year: 1782,
    base: "Caribbean",
    nickname:"none"
	}
 -->
<div>
  <form action="/pirates" method="POST">
    <div class="form-group">
      <label for="name">name:</label>
      <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="birthplace">birthplace:</label>
      <input type="text" name="birthplace" class="form-control">
    </div>
    <div class="form-group">
      <label for="death_year">death_year:</label>
      <input type="text" name="death_year" class="form-control">
    </div>
    <div class="form-group">
      <label for="base">base:</label>
      <input type="text" name="base" class="form-control">   
    </div>
    <div class="form-group">
      <label for="nickname">nickname:</label>
      <input type="text" name="nickname" class="form-control">
    </div>
    </div>
    <div>
      <input class="btn btn-default" type="submit" value="Add Pirate">
    </div>
  </form>
</div>

