<!DOCTYPE html>
<html>
    <head>
        <title>pizza express</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    </head>
    <body>
    	Pizza Express
        {{{body}}}
    </body>

</html>